@charset "UTF-8";
@media (max-width: 767px) {
  .hidden-sp {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-tb {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .hidden-pc {
    display: none !important;
  }
}

@media (min-width: 1440px) {
  .hidden-lg {
    display: none !important;
  }
}

@media (min-width: 1921px) {
  .hidden-xl {
    display: none !important;
  }
}

html {
  margin-top: 0 !important;
  height: 100%;
  overflow-y: scroll;
}

body {
  margin-inline: auto !important;
  background: #fff;
  width: 100%;
  overflow-x: clip;
  color: #333333;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 1.4;
  font-family: "Noto Serif JP", serif;
  position: relative;
}
body.no-scroll {
  height: 100%;
  overflow: hidden;
}

main {
  position: relative;
}

.section {
  width: 100%;
  margin-inline: auto;
}

.wrap {
  max-width: 1920px;
  margin-inline: auto;
}

.inner {
  max-width: 1680px;
  margin-inline: auto;
  padding-inline: 3.85vw;
}

#wpadminbar {
  display: none;
}

/* 初期状態（非表示） */
.fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 0.7s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.7s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.7s ease, transform 0.7s ease;
  transition: opacity 0.7s ease, transform 0.7s ease, -webkit-transform 0.7s ease;
}

/* 表示状態（ふわっと現れる） */
.fadein.is-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__inner {
  padding-inline: clamp(15px, 3.84vw, 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10.256vw;
  max-height: 80px;
}
@media (min-width: 1440px) {
  .header__inner {
    max-width: 1680px;
    padding: 0;
    margin-inline: auto;
    height: 100px;
  }
}
.header .parts__logo {
  position: relative;
  z-index: 1000;
}
@media (min-width: 1440px) {
  .header .parts__logo {
    padding-left: 15px;
  }
}
.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  z-index: 100;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  background: #907910;
  width: 100%;
  max-width: 400px;
  height: calc(100% - 40px);
  color: #fff;
  font-size: 15px;
}
.header__nav.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 1440px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
    background: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: none;
    height: 100px;
    color: #907910;
    font-weight: 900;
  }
}
.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
}
@media (min-width: 1440px) {
  .header__nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
}
@media (min-width: 1921px) {
  .header__nav__list {
    gap: 30px;
  }
}
.header__nav__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  white-space: nowrap;
}
.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 20px;
  background: #907910;
  color: #fff;
  border-radius: 10px;
}
.header__btn-icon {
  width: 35px;
  height: 27px;
}
.header__drawer-icon {
  width: 10.256vw;
  height: 10.256vw;
  max-width: 50px;
  max-height: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background: #907910;
  position: relative;
  z-index: 1000;
}
.header__drawer-icon.is-checked .header__icon-bar {
  position: absolute;
}
.header__drawer-icon.is-checked .header__icon-bar:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__drawer-icon.is-checked .header__icon-bar:nth-child(2) {
  display: none;
}
.header__drawer-icon.is-checked .header__icon-bar:nth-child(3) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__icon-bar {
  width: 30px;
  height: 1px;
  background: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer {
  background: #907910;
  color: #fff;
}
.footer__inner {
  padding: 25px clamp(15px, 3.85vw, 320px) 12px;
}
@media (min-width: 1024px) {
  .footer__inner {
    padding: 36px clamp(90px, 3.85vw, 320px) 12px;
  }
}
@media (min-width: 1440px) {
  .footer__inner {
    padding: 36px clamp(180px, 3.85vw, 320px) 12px;
  }
}
@media (min-width: 1921px) {
  .footer__inner {
    padding: 36px 320px 12px;
  }
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .parts-logo {
  color: #fff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.footer__info {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (min-width: 1024px) {
  .footer__info {
    font-size: 16px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
@media (min-width: 1024px) {
  .footer__info-privacy-policy {
    margin-top: 25px;
  }
}
.footer__copyright {
  display: block;
  margin-top: 112px;
  font-size: 12px;
  text-align: center;
}
@media (min-width: 1440px) {
  .footer__copyright {
    margin-top: 204px;
    font-size: 16px;
  }
}

.page-introduce__section {
  position: relative;
}
@media (min-width: 1024px) {
  .page-introduce__section {
    padding-right: 3.85vw;
  }
}
.page-introduce__wrap {
  position: relative;
}
.page-introduce__wrap .parts-bg-circle {
  top: -24px;
  right: -60px;
}
@media (min-width: 1024px) {
  .page-introduce__wrap .parts-bg-circle {
    right: -150px;
    top: 5px;
  }
}
@media (min-width: 1024px) {
  .page-introduce__inner {
    overflow: hidden;
    padding-right: 0;
  }
}
.page-introduce__container {
  position: relative;
}
@media (min-width: 1024px) {
  .page-introduce__container {
    max-width: 1380px;
    margin-inline: auto;
  }
}
.page-introduce__shell {
  max-width: 1080px;
  margin-inline: auto;
}
.page-introduce__lead {
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 50px;
  padding-bottom: 30px;
}
@media (min-width: 1024px) {
  .page-introduce__lead {
    padding-top: 100px;
  }
}
.page-introduce__lead h3 {
  font-size: 20px;
  color: #907910;
}
@media (min-width: 1024px) {
  .page-introduce__lead h3 {
    font-size: 24px;
  }
}
.page-introduce__lead p {
  font-size: 14px;
  line-height: 1.8;
}
@media (min-width: 1024px) {
  .page-introduce__lead p {
    font-size: 16px;
  }
}
.page-introduce__line {
  width: 100%;
  height: 1px;
  background: #000000;
}
@media (min-width: 1024px) {
  .page-introduce__line {
    /* 1. 幅を「親の100%」から「画面の右端まで」に広げる計算 */
    /* 100%（親の幅） + 50vw（画面の半分） - 50%（親の半分の幅） */
    width: calc(100% + 50vw - 50%);
    /* 2. 算出した分だけ右側に突き出させる */
    margin-right: calc(50% - 50vw);
  }
}
.page-introduce__content {
  padding-top: 50px;
}
@media (min-width: 1024px) {
  .page-introduce__content {
    max-width: 1080px;
    padding-top: 100px;
  }
}
.page-introduce__cards {
  padding-inline: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1024px) {
  .page-introduce__cards {
    padding-inline: 0;
    padding-right: 4px;
    padding-bottom: 4px;
  }
}
.page-introduce__card {
  font-weight: 900;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 550px;
}
@media (min-width: 1024px) {
  .page-introduce__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: none;
    padding-right: 10px;
  }
}
.page-introduce__card img {
  width: 100%;
  max-width: 550px;
}
@media (min-width: 1024px) {
  .page-introduce__card img {
    max-width: 300px;
    max-height: 365px;
  }
}
.page-introduce__card-txt {
  padding: 25px 15px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
@media (min-width: 1024px) {
  .page-introduce__card-txt {
    width: 100%;
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 10px;
  }
}
.page-introduce__card-txt h4 {
  font-size: 18px;
  color: #907910;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
@media (min-width: 1024px) {
  .page-introduce__card-txt h4 {
    margin-inline: 0;
    font-size: 24px;
  }
}
.page-introduce__card-txt p {
  font-size: 14px;
  line-height: 1.8;
}
@media (min-width: 1024px) {
  .page-introduce__card-txt p {
    font-size: 16px;
    padding-top: 15px;
  }
}
.page-introduce__card-txt span {
  font-size: 14px;
  line-height: 1.8;
  padding-top: 10px;
}
@media (min-width: 1024px) {
  .page-introduce__card-txt span {
    font-size: 16px;
    padding-top: 0;
  }
}
@media (min-width: 1024px) {
  .page-introduce .card-1 span {
    padding-top: 30px;
  }
}

.page-faq .block-page-ttl {
  position: relative;
  /* 左から20%・上↓中央の位置を中心に表示する */
  background-position: 46% bottom;
  background-size: 400%;
}
@media (min-width: 1024px) {
  .page-faq .block-page-ttl {
    background-position: 20% bottom;
    background-size: cover;
  }
}
@media (min-width: 1921px) {
  .page-faq .block-page-ttl {
    background-position: 20% 65%;
  }
}
.page-faq__section .parts-bg-circle {
  top: -115px;
  right: -130px;
}
@media (min-width: 1024px) {
  .page-faq__section .parts-bg-circle {
    top: 0;
    right: -100px;
  }
}
.page-faq__section .circle-container {
  width: 83.333vw;
  height: 83.333vw;
  min-width: 325px;
  min-height: 325px;
}
@media (min-width: 1024px) {
  .page-faq__section .circle-container {
    width: 36.46vw;
    height: 36.46vw;
    max-width: 700px;
    max-height: 700px;
  }
}
.page-faq__section .circle {
  width: 82.82vw;
  height: 82.82vw;
  min-width: 323px;
  min-height: 323px;
}
@media (min-width: 1024px) {
  .page-faq__section .circle {
    width: 34.9vw;
    height: 34.9vw;
    max-width: 670px;
    max-height: 670px;
  }
}
.page-faq__inner {
  padding-top: 50px;
  padding-bottom: 25px;
}
@media (min-width: 1024px) {
  .page-faq__inner {
    padding-bottom: 0;
  }
}
.page-faq__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 75px;
}
@media (min-width: 1024px) {
  .page-faq__contents {
    max-width: 1280px;
    width: 100%;
    margin-inline: auto;
    gap: 100px;
  }
}
.page-faq__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
@media (min-width: 1024px) {
  .page-faq__category {
    gap: 36px;
  }
}
.page-faq__ttl {
  font-weight: 900;
  color: #907910;
  font-size: 20px;
  text-align: center;
}
@media (min-width: 1024px) {
  .page-faq__ttl {
    font-weight: 700;
    font-size: 40px;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .page-faq__ttl span {
    display: inline-block;
    font-weight: 700;
    font-size: 40px;
    color: #907910;
  }
}
.page-faq .cremation .page-faq__ttl {
  padding-inline: 50px;
  min-width: 258px;
}
.page-faq .funeral .page-faq__ttl {
  padding-inline: 60px;
  min-width: 240px;
}
.page-faq .perpetual-care .page-faq__ttl {
  padding-inline: 30px;
  min-width: 300px;
}
.page-faq__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
}
@media (min-width: 1024px) {
  .page-faq__card {
    padding-left: 161px;
  }
}
.page-faq__q, .page-faq__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.page-faq__label {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.4em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (min-width: 1024px) {
  .page-faq__label {
    font-size: 20px;
  }
}
.page-faq__txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  margin: 0;
}
.page-faq__q {
  padding-bottom: 10px;
}
.page-faq__q .page-faq__label {
  color: #907910;
}
@media (min-width: 1024px) {
  .page-faq__q .page-faq__label {
    margin-top: 12px;
  }
}
.page-faq__q .page-faq__txt {
  color: #907910;
}
@media (min-width: 1024px) {
  .page-faq__q .page-faq__txt {
    font-size: 30px;
  }
}
.page-faq__a {
  padding-top: 15px;
  border-top: 1px solid #907910;
}
@media (min-width: 1024px) {
  .page-faq__a {
    border: none;
  }
}
@media (min-width: 1024px) {
  .page-faq__a .page-faq__label {
    margin-top: 5px;
  }
}
.page-faq__a .page-faq__txt {
  font-size: 14px;
}
@media (min-width: 1024px) {
  .page-faq__a .page-faq__txt {
    font-size: 20px;
    margin-right: 161px;
  }
}

.section-fv {
  width: 100%;
  overflow: hidden;
}
.section-fv__inner {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 128px;
  padding-left: 15px;
  padding-inline: clamp(15px, 3.85vw, 120px);
}
@media (min-width: 1024px) {
  .section-fv__inner {
    padding-top: 89px;
  }
}
.section-fv__lead {
  position: absolute;
  pointer-events: none;
  top: 32px;
  right: 3.84vw;
  color: #907910;
  text-align: left;
  z-index: 100;
  line-height: 1.4;
}
@media (min-width: 1024px) {
  .section-fv__lead {
    top: clamp(-55px, 5.68vw, 109px);
    right: clamp(0px, 4.9vw, 94px);
  }
}
.section-fv__lead .section-fv__lead-en {
  font-family: "Alice", serif;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  -webkit-text-stroke: 0.3px #907910;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
@media (min-width: 768px) {
  .section-fv__lead .section-fv__lead-en {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .section-fv__lead .section-fv__lead-en {
    font-size: 48px;
    -webkit-text-stroke: 1px #907910;
  }
}
@media (min-width: 1440px) {
  .section-fv__lead .section-fv__lead-en {
    font-size: 64px;
  }
}
.section-fv__lead .section-fv__lead-ja {
  font-family: "Noto Serif JP", serif;
  font-weight: 900;
  margin-top: 16px;
  letter-spacing: 0.05em;
}
@media (min-width: 1024px) {
  .section-fv__lead .section-fv__lead-ja {
    margin-top: 60px;
  }
}
.section-fv__lead .section-fv__lead-ja p {
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  font-size: 14px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .section-fv__lead .section-fv__lead-ja p {
    line-height: 1.8;
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .section-fv__lead .section-fv__lead-ja p {
    line-height: 1.8;
    font-size: 20px;
    text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
  }
}
@media (min-width: 1440px) {
  .section-fv__lead .section-fv__lead-ja p {
    line-height: 1.8;
    font-size: 24px;
  }
}
.section-fv__lead .section-fv__lead-ja h1 {
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  font-size: 18px;
  line-height: 1.8;
}
@media (min-width: 768px) {
  .section-fv__lead .section-fv__lead-ja h1 {
    font-size: 24px;
    white-space: nowrap;
  }
}
@media (min-width: 1024px) {
  .section-fv__lead .section-fv__lead-ja h1 {
    font-size: 32px;
    text-shadow: 2px 2px 0 #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
  }
}
@media (min-width: 1440px) {
  .section-fv__lead .section-fv__lead-ja h1 {
    font-size: 40px;
  }
}
.section-fv__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}
.section-fv__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* 縦に並べる */
  width: clamp(360px, 80.76vw, 1000px); /* 任意 */
  height: auto;
  margin-right: 46px;
}
@media (min-width: 1024px) {
  .section-fv__img {
    width: clamp(768px, 80.76vw, 1280px); /* 任意 */
  }
}
.section-fv__img img {
  position: relative;
  display: block;
  opacity: 0;
  -webkit-animation: fadeIn 1.2s ease-out forwards;
          animation: fadeIn 1.2s ease-out forwards;
}
.section-fv__img .img-1 {
  max-width: 540px;
  max-height: 619px;
  width: 41vw;
  height: 47.43vw;
  margin-right: auto;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.section-fv__img .img-2 {
  max-width: 337px;
  max-height: 422px;
  width: 24.87vw;
  height: 31.28vw;
  margin-left: auto;
  margin-top: -79px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
@media (min-width: 1024px) {
  .section-fv__img .img-2 {
    margin-top: -125px;
    margin-right: 30px;
  }
}
@media (min-width: 1440px) {
  .section-fv__img .img-2 {
    margin-right: clamp(0px, 8.3vw, 160px);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.section-fv__scrollbar {
  position: relative;
  background: #907910;
  width: 1px;
  right: 16px;
  height: 96px;
  padding-top: 5px;
  margin-top: 130px;
  margin-top: clamp(130px, 33.3vw, 200px);
}
@media (min-width: 768px) {
  .section-fv__scrollbar {
    margin-top: 400px;
    height: 200px;
  }
}
.section-fv__scrollbar::after {
  content: "SCROLL";
  font-size: 9px;
  font-family: "Alegreya", serif;
  color: #907910;
  position: absolute;
  display: inline-block;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  bottom: 11px;
  left: -4px;
}
@media (min-width: 768px) {
  .section-fv__scrollbar::after {
    font-size: 20px;
  }
}
.section-fv__scrollbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid #907910;
  background: #fff;
  -webkit-animation: scrollMove 8s ease-in-out infinite;
          animation: scrollMove 8s ease-in-out infinite;
}
@media (min-width: 768px) {
  .section-fv__scrollbar::before {
    width: 14px;
    height: 14px;
    left: -6.5px;
  }
}
@-webkit-keyframes scrollMove {
  0% {
    top: 6.25%;
  }
  50% {
    top: 87.5%;
  }
  100% {
    top: 6.25%;
  }
}
@keyframes scrollMove {
  0% {
    top: 6.25%;
  }
  50% {
    top: 87.5%;
  }
  100% {
    top: 6.25%;
  }
}

.section-concept__img.left {
  grid-area: left-img;
}

.section-concept__box {
  grid-area: text-box;
}

.section-concept__img.right {
  grid-area: right-img;
}

.section-concept {
  margin-top: 75px;
  width: 100%;
  position: relative;
}
.section-concept .parts-bg-circle {
  right: -100px;
}
.section-concept .parts-bg-circle .circle-container {
  width: 76.9vw;
  height: 76.9vw;
  min-width: 300px;
  min-height: 300px;
}
.section-concept .parts-bg-circle .circle {
  width: 67.7vw;
  height: 67.7vw;
  min-width: 264px;
  min-height: 264px;
}
.section-concept__inner {
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px 0;
  /* SP: 2列にして、1行目にテキストを配置 */
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text-box text-box" "left-img right-img";
}
@media (min-width: 1024px) {
  .section-concept__inner {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "left-img text-box right-img";
  }
}
.section-concept__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.section-concept__img img {
  width: 24.38vw;
  height: auto;
  display: block;
}
.section-concept__box {
  font-weight: 900;
  text-align: center;
}
.section-concept__ttl {
  font-size: 20px;
  line-height: 1;
  color: #907910;
  padding-block: 25px;
}
.section-concept__txt {
  line-height: 2;
}
.section-concept__from {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1;
}
.section-concept__img.right {
  padding-top: 50px;
}
.parts-logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}
.parts-logo__img {
  width: 46px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 2px;
}
@media (min-width: 768px) {
  .parts-logo__img {
    width: 84px;
  }
}
.parts-logo__img img {
  width: 100%;
}
.parts-logo__word {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}
.parts-logo__word h2 {
  font-size: 18px;
  line-height: 1;
}
@media (min-width: 768px) {
  .parts-logo__word h2 {
    font-size: 36px;
  }
}
.parts-logo__word h3 {
  font-size: 9px;
  line-height: 1;
  font-family: "Alegreya", serif;
}
@media (min-width: 768px) {
  .parts-logo__word h3 {
    font-size: 18px;
  }
}

.logo--primary {
  color: #907910;
}

.parts-logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}
.parts-logo__img {
  width: 46px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 2px;
}
@media (min-width: 768px) {
  .parts-logo__img {
    width: 84px;
  }
}
.parts-logo__img img {
  width: 100%;
}
.parts-logo__word {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}
.parts-logo__word h2 {
  font-size: 18px;
  line-height: 1;
}
@media (min-width: 768px) {
  .parts-logo__word h2 {
    font-size: 36px;
  }
}
.parts-logo__word h3 {
  font-size: 9px;
  line-height: 1;
  font-family: "Alegreya", serif;
}
@media (min-width: 768px) {
  .parts-logo__word h3 {
    font-size: 18px;
  }
}

.logo--white {
  color: #fff;
}

.parts-bg-circle {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -10;
}

.circle-container {
  position: relative;
  width: 51.3vw;
  height: 51.3vw;
  min-width: 200px;
  min-height: 200px;
}
@media (min-width: 1024px) {
  .circle-container {
    width: 36.46vw;
    height: 36.46vw;
    max-width: 700px;
    max-height: 700px;
  }
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 46.41vw;
  height: 46.41vw;
  min-width: 181px;
  min-height: 181px;
  border: 0.3px solid #e4e4e4;
  border-radius: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
@media (min-width: 1024px) {
  .circle {
    width: 34.9vw;
    height: 34.9vw;
    max-width: 670px;
    max-height: 670px;
  }
}
.circle-1 {
  top: 0;
  left: 0;
  -webkit-animation: rotate-v1 20s linear infinite;
          animation: rotate-v1 20s linear infinite;
}
.circle-2 {
  top: 10px;
  left: -5px;
  -webkit-animation: rotate-v2 20s linear infinite;
          animation: rotate-v2 20s linear infinite;
}
.circle-3 {
  top: 5px;
  left: 8px;
  -webkit-animation: rotate-v3 20s linear infinite;
          animation: rotate-v3 20s linear infinite;
}

@-webkit-keyframes rotate-v1 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes rotate-v1 {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg);
  }
}
@-webkit-keyframes rotate-v2 {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(0deg);
            transform: rotateX(45deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(405deg) rotateY(360deg);
            transform: rotateX(405deg) rotateY(360deg);
  }
}
@keyframes rotate-v2 {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(0deg);
            transform: rotateX(45deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(405deg) rotateY(360deg);
            transform: rotateX(405deg) rotateY(360deg);
  }
}
@-webkit-keyframes rotate-v3 {
  0% {
    -webkit-transform: rotateX(-45deg) rotateY(0deg);
            transform: rotateX(-45deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(315deg) rotateY(360deg);
            transform: rotateX(315deg) rotateY(360deg);
  }
}
@keyframes rotate-v3 {
  0% {
    -webkit-transform: rotateX(-45deg) rotateY(0deg);
            transform: rotateX(-45deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(315deg) rotateY(360deg);
            transform: rotateX(315deg) rotateY(360deg);
  }
}
.block-page-ttl {
  position: relative;
  /* 左から20%・上↓中央の位置を中心に表示する */
  background-position: 20% center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  overflow: hidden;
  text-align: center;
  padding-inline: 3.85vw;
  z-index: 2;
}
@media (min-width: 1024px) {
  .block-page-ttl {
    background-position: 20% center;
  }
}
@media (min-width: 1921px) {
  .block-page-ttl {
    background-position: 20% 65%;
  }
}
.block-page-ttl__overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.3);
}
.block-page-ttl__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  z-index: 2;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .block-page-ttl__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1080px;
    width: 100%;
  }
}
.block-page-ttl__txt {
  position: relative;
  z-index: 2;
  font-weight: 900;
  font-size: 20px;
  padding-top: 90px;
  color: #fff;
  text-shadow: 1px 1px 0 #907910, -0.5px -0.5px 0 #907910, -0.5px 0.5px 0 #907910, 0.5px -0.5px 0 #907910, 0px 0.5px 0 #907910, 0px -0.5px 0 #907910, -0.5px 0px 0 #907910, 0.5px 0px 0 #907910, 0px 4px 4px rgba(0, 0, 0, 0.3);
}
@media (min-width: 1024px) {
  .block-page-ttl__txt {
    padding: 0;
    font-size: 32px;
    margin-right: auto;
  }
}

.section-contact {
  margin-top: 50px;
  margin-bottom: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .section-contact {
    margin-top: 200px;
    margin-bottom: 200px;
  }
}
.section-contact__wrap {
  position: relative;
  width: 100%;
  max-width: 2600px;
  margin-inline: auto;
}
.section-contact .parts-bg-circle {
  right: -30px;
  bottom: 46.15vw;
}
@media (min-width: 1024px) {
  .section-contact .parts-bg-circle {
    top: 50%;
    bottom: unset;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.section-contact__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-inline: 3.84vw;
}
@media (min-width: 1024px) {
  .section-contact__inner {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 1080px;
    max-height: 690px;
    margin-inline: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-inline: 0;
    padding-left: 3.125vw;
  }
}
.section-contact__info-box {
  text-align: center;
}
@media (min-width: 1024px) {
  .section-contact__info-box {
    margin-top: 60px;
    text-align: left;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.section-contact__ttl {
  font-weight: 900;
  font-size: 20px;
  color: #907910;
}
@media (min-width: 1024px) {
  .section-contact__ttl {
    font-size: 40px;
  }
}
.section-contact__info {
  margin-top: 25px;
  text-align: center;
}
@media (min-width: 1024px) {
  .section-contact__info {
    text-align: left;
  }
}
.section-contact__info p {
  font-weight: 900;
  font-size: 14px;
  line-height: 2;
}
@media (min-width: 1024px) {
  .section-contact__info p {
    font-size: 16px;
  }
}
.section-contact__tel {
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .section-contact__tel {
    margin-bottom: 15px;
  }
}
.section-contact__tel a {
  font-weight: 900;
  font-size: 18px;
  color: #907910;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
@media (min-width: 1024px) {
  .section-contact__tel a {
    font-size: 32px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 28px;
    margin: 0;
  }
}
.section-contact__tel img {
  width: 33.5px;
  height: 24px;
}
@media (min-width: 1024px) {
  .section-contact__tel img {
    width: 58px;
    height: 41.5px;
  }
}
.section-contact__link-box {
  margin-top: 25px;
  background: #fff;
}
@media (min-width: 1024px) {
  .section-contact__link-box {
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    max-width: 700px;
    padding: 60px 50px;
    position: absolute;
    bottom: -28px;
    left: 3.125vw;
  }
}
.section-contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  padding-inline: 55px;
}
@media (min-width: 1024px) {
  .section-contact__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
    padding-inline: 0;
  }
}
.section-contact__links .link-line {
  display: none;
}
@media (min-width: 1024px) {
  .section-contact__links .link-line {
    display: inline-block;
    width: 1px;
    height: 75px;
    background-color: #000;
  }
}
.section-contact__link {
  text-align: center;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 20px;
  color: #fff;
  font-weight: 900;
  font-size: 16px;
  white-space: nowrap;
  max-width: 250px;
}
.section-contact__link .link-icon {
  clip-path: polygon(0 0, 0 100%, 85% 50%);
  background: #fff;
  display: inline-block;
  width: 10px;
  height: 10px;
}
.section-contact .mail {
  background: #907910;
}
.section-contact .line {
  background: #a6ce4f;
}
.section-contact__txt {
  margin-top: 25px;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
}
@media (min-width: 1024px) {
  .section-contact__txt {
    margin-top: 68px;
    font-size: 20px;
  }
}
.section-contact__card-logo {
  margin-top: 25px;
  padding-inline: 6.41vw;
  text-align: center;
}
@media (min-width: 1024px) {
  .section-contact__card-logo {
    margin-top: 41px;
    padding-inline: 0;
  }
}
.section-contact__img {
  margin-top: 50px;
  padding-inline: 16.15vw;
  text-align: center;
}
@media (min-width: 1024px) {
  .section-contact__img {
    margin: 0;
    padding: 0;
    max-width: 517px;
    max-height: 689px;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.section-contact__bg-txt {
  font-weight: 500;
  color: #fff;
  -webkit-text-stroke: 0.3px #907910;
  font-size: 36px;
  font-family: "Alice", serif;
  letter-spacing: 0.03em;
  line-height: 1.3;
  white-space: nowrap;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
@media (min-width: 1024px) {
  .section-contact__bg-txt {
    font-size: 128px;
    -webkit-text-stroke: 1px #907910;
  }
}