@charset "UTF-8";
@media (max-width: 767px) {
  .hidden-sp {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-tb {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .hidden-pc {
    display: none !important;
  }
}

@media (min-width: 1440px) {
  .hidden-lg {
    display: none !important;
  }
}

@media (min-width: 1719px) {
  .hidden-xl {
    display: none !important;
  }
}

html {
  margin-top: 0 !important;
  height: 100%;
  overflow-y: scroll;
}

body {
  margin-inline: auto !important;
  background: #fff;
  width: 100%;
  overflow-x: clip;
  color: #333333;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 24px;
  font-family: "Noto Serif JP", serif;
}
body.no-scroll {
  height: 100%;
  overflow: hidden;
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
}

.inner {
  max-width: 1680px;
  margin-inline: auto;
}

#wpadminbar {
  display: none;
}

/* 初期状態（非表示） */
.fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 0.7s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.7s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.7s ease, transform 0.7s ease;
  transition: opacity 0.7s ease, transform 0.7s ease, -webkit-transform 0.7s ease;
}

/* 表示状態（ふわっと現れる） */
.fadein.is-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__inner {
  padding-inline: clamp(15px, 3.85vw, 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10.256vw;
  max-height: 80px;
}
@media (min-width: 1440px) {
  .header__inner {
    max-width: 1680px;
    padding: 0;
    margin-inline: auto;
    height: 100px;
  }
}
@media (min-width: 1440px) {
  .header .parts__logo {
    padding-left: 15px;
  }
}
.header__nav {
  position: fixed;
  top: 10.256vw;
  top: clamp(40px, 10.256vw, 80px);
  right: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  z-index: 100;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  background: #907910;
  width: 100%;
  max-width: 400px;
  height: calc(100% - 40px);
  color: #fff;
  font-size: 15px;
}
.header__nav.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 1440px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    right: 0;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
    background: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: none;
    height: 100px;
    color: #907910;
    font-weight: 900;
  }
}
.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
}
@media (min-width: 1440px) {
  .header__nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
}
@media (min-width: 1719px) {
  .header__nav__list {
    gap: 30px;
  }
}
.header__nav__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  white-space: nowrap;
}
.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 20px;
  background: #907910;
  color: #fff;
  border-radius: 10px;
}
.header__btn-icon {
  width: 35px;
  height: 27px;
}
.header__drawer-icon {
  width: 10.256vw;
  height: 10.256vw;
  max-width: 50px;
  max-height: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background: #907910;
  position: relative;
}
.header__drawer-icon.is-checked .header__icon-bar {
  position: absolute;
}
.header__drawer-icon.is-checked .header__icon-bar:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__drawer-icon.is-checked .header__icon-bar:nth-child(2) {
  display: none;
}
.header__drawer-icon.is-checked .header__icon-bar:nth-child(3) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__icon-bar {
  width: 30px;
  height: 1px;
  background: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer {
  background: #907910;
  color: #fff;
}
.footer__inner {
  padding: 25px clamp(15px, 3.85vw, 320px) 12px;
}
@media (min-width: 1024px) {
  .footer__inner {
    padding: 36px clamp(90px, 3.85vw, 320px) 12px;
  }
}
@media (min-width: 1440px) {
  .footer__inner {
    padding: 36px clamp(180px, 3.85vw, 320px) 12px;
  }
}
@media (min-width: 1719px) {
  .footer__inner {
    padding: 36px 320px 12px;
  }
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .parts__logo {
  color: #fff;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.footer__info {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media (min-width: 1024px) {
  .footer__info {
    font-size: 16px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
}
@media (min-width: 1024px) {
  .footer__info-privacy-policy {
    margin-top: 25px;
  }
}
.footer__copyright {
  display: block;
  margin-top: 112px;
  font-size: 12px;
  text-align: center;
}
@media (min-width: 1440px) {
  .footer__copyright {
    margin-top: 204px;
    font-size: 16px;
  }
}

.parts__logo {
  color: #907910;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.parts__logo h2 {
  font-size: 18px;
  line-height: 1;
}
@media (min-width: 768px) {
  .parts__logo h2 {
    font-size: 36px;
  }
}
.parts__logo h3 {
  font-size: 9px;
  line-height: 1;
  font-family: "Alegreya", serif;
}
@media (min-width: 768px) {
  .parts__logo h3 {
    font-size: 18px;
  }
}

.section-fv {
  width: 100%;
  overflow: hidden;
}
.section-fv__inner {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 128px;
  padding-left: 15px;
  padding-inline: clamp(15px, 3.85vw, 120px);
}
@media (min-width: 1024px) {
  .section-fv__inner {
    padding-top: 89px;
  }
}
.section-fv__lead {
  position: absolute;
  pointer-events: none;
  top: 32px;
  right: 3.84vw;
  color: #907910;
  text-align: left;
  z-index: 100;
  line-height: 1.4;
}
@media (min-width: 1024px) {
  .section-fv__lead {
    top: clamp(-55px, 5.68vw, 109px);
    right: clamp(0px, 4.9vw, 94px);
  }
}
.section-fv__lead .section-fv__lead-en {
  font-family: "Alice", serif;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  -webkit-text-stroke: 0.3px #907910;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
@media (min-width: 768px) {
  .section-fv__lead .section-fv__lead-en {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  .section-fv__lead .section-fv__lead-en {
    font-size: 48px;
    -webkit-text-stroke: 1px #907910;
  }
}
@media (min-width: 1440px) {
  .section-fv__lead .section-fv__lead-en {
    font-size: 64px;
  }
}
.section-fv__lead .section-fv__lead-ja {
  font-family: "Noto Serif JP", serif;
  font-weight: 900;
  margin-top: 16px;
  letter-spacing: 0.05em;
}
@media (min-width: 1024px) {
  .section-fv__lead .section-fv__lead-ja {
    margin-top: 60px;
  }
}
.section-fv__lead .section-fv__lead-ja p {
  font-size: 14px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  .section-fv__lead .section-fv__lead-ja p {
    line-height: 1.8;
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .section-fv__lead .section-fv__lead-ja p {
    line-height: 1.8;
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  .section-fv__lead .section-fv__lead-ja p {
    line-height: 1.8;
    font-size: 24px;
  }
}
.section-fv__lead .section-fv__lead-ja h1 {
  font-size: 18px;
  line-height: 1.8;
}
@media (min-width: 768px) {
  .section-fv__lead .section-fv__lead-ja h1 {
    font-size: 24px;
    white-space: nowrap;
  }
}
@media (min-width: 1024px) {
  .section-fv__lead .section-fv__lead-ja h1 {
    font-size: 32px;
  }
}
@media (min-width: 1440px) {
  .section-fv__lead .section-fv__lead-ja h1 {
    font-size: 40px;
  }
}
.section-fv__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}
.section-fv__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* 縦に並べる */
  width: clamp(360px, 80.76vw, 1000px); /* 任意 */
  height: auto;
  margin-right: auto;
}
@media (min-width: 1024px) {
  .section-fv__img {
    width: clamp(768px, 80.76vw, 1280px); /* 任意 */
  }
}
.section-fv__img img {
  position: relative;
  display: block;
  opacity: 0;
  -webkit-animation: fadeIn 1.2s ease-out forwards;
          animation: fadeIn 1.2s ease-out forwards;
}
.section-fv__img .img-1 {
  max-width: 540px;
  max-height: 619px;
  width: 41vw;
  height: 47.43vw;
  margin-right: auto;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.section-fv__img .img-2 {
  max-width: 337px;
  max-height: 422px;
  width: 24.87vw;
  height: 31.28vw;
  margin-left: auto;
  margin-top: -79px;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
@media (min-width: 1024px) {
  .section-fv__img .img-2 {
    margin-top: -125px;
  }
}
@media (min-width: 1440px) {
  .section-fv__img .img-2 {
    margin-right: clamp(0px, 8.3vw, 160px);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.section-fv__scrollbar {
  position: relative;
  background: #907910;
  width: 1px;
  right: 32px;
  height: 96px;
  padding-top: 5px;
  margin-top: 130px;
}
@media (min-width: 1024px) {
  .section-fv__scrollbar {
    height: 200px;
  }
}
.section-fv__scrollbar::after {
  content: "SCROLL";
  font-size: 9px;
  font-family: "Alegreya", serif;
  color: #907910;
  position: absolute;
  display: inline-block;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  bottom: 11px;
  left: -4px;
}
@media (min-width: 1024px) {
  .section-fv__scrollbar::after {
    font-size: 20px;
  }
}
.section-fv__scrollbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid #907910;
  background: #fff;
  -webkit-animation: scrollMove 8s ease-in-out infinite;
          animation: scrollMove 8s ease-in-out infinite;
}
@media (min-width: 1024px) {
  .section-fv__scrollbar::before {
    width: 14px;
    height: 14px;
    left: -6.5px;
  }
}
@-webkit-keyframes scrollMove {
  0% {
    top: 6.25%;
  }
  50% {
    top: 87.5%;
  }
  100% {
    top: 6.25%;
  }
}
@keyframes scrollMove {
  0% {
    top: 6.25%;
  }
  50% {
    top: 87.5%;
  }
  100% {
    top: 6.25%;
  }
}