@charset "UTF-8";
@media (max-width: 767px) {
  .hidden-sp {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-tb {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .hidden-pc {
    display: none !important;
  }
}

@media (min-width: 1440px) {
  .hidden-lg {
    display: none !important;
  }
}

html {
  margin-top: 0 !important;
  height: 100%;
  overflow-y: scroll;
}

body {
  margin-inline: auto !important;
  background: #fff;
  width: 100%;
  max-width: 1920px;
  overflow-x: clip;
  color: #333333;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 24px;
  font-family: "Noto Serif JP", serif;
}
body.no-scroll {
  height: 100%;
  overflow: hidden;
}

#wpadminbar {
  display: none;
}

/* 初期状態（非表示） */
.fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 0.7s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.7s ease, -webkit-transform 0.7s ease;
  transition: opacity 0.7s ease, transform 0.7s ease;
  transition: opacity 0.7s ease, transform 0.7s ease, -webkit-transform 0.7s ease;
}

/* 表示状態（ふわっと現れる） */
.fadein.is-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}