@use "sass:map";
@use "base" as b;

.header {
  &__inner {
    padding-inline: clamp(15px, 3.85vw, 120px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10.256vw;
    max-height: 80px;

    @include b.mq(lg) {
      max-width: 1680px;
      padding: 0;
      margin-inline: auto;
      height: 100px;
    }
    @include b.mq(xl) {
      // padding-inline: 120px;
    }
  }

  &__logo {
    color: b.$main-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include b.mq(lg) {
      padding-left: 15px;
    }

    h2 {
      font-size: 18px;
      line-height: 1;

      @include b.mq(tb) {
        font-size: 36px;
      }
    }
    h3 {
      font-size: 9px;
      line-height: 1;
      font-family: b.$font-family-en-sub;

      @include b.mq(tb) {
        font-size: 18px;
      }
    }
  }

  &__nav {
    position: fixed;
    top: 10.256vw;
    top: clamp(40px, 10.256vw, 80px);
    right: 0;
    transform: translateX(200%);
    z-index: 100;
    transition: transform 0.4s;
    background: b.$main-color;
    width: 100%;
    max-width: 400px;
    height: calc(100% - 40px);
    color: b.$text-color-white;
    font-size: 15px;

    &.is-checked {
      transform: translateX(0);
    }

    @include b.mq(tb) {
    }
    @include b.mq(pc) {
      // right: 6.25vw;
    }

    @include b.mq(lg) {
      display: flex;
      top: 0;
      right: 0;
      position: relative;
      align-items: center;
      gap: 30px;
      transform: none;
      transition: none;
      background: none;
      width: fit-content;
      max-width: none;
      height: 100px;
      color: b.$main-color;
      font-weight: 900;
    }

    &__list {
      display: flex;
      flex-direction: column;
      font-size: 15px;

      @include b.mq(lg) {
        flex-direction: row;
        gap: 20px;
      }
      @include b.mq(xl) {
        gap: 30px;
      }

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        white-space: nowrap;

        &:last-child {
        }
      }
    }
  }
  &__btn {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    background: b.$main-color;
    color: b.$text-color-white;
    border-radius: 10px;

    &-icon {
      width: 35px;
      height: 27px;
    }
  }

  &__open {
  }

  &__drawer-icon {
    width: 10.256vw;
    height: 10.256vw;
    max-width: 50px;
    max-height: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: b.$main-color;
    position: relative;

    &.is-checked {
      .header__icon-bar {
        position: absolute;

        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%);
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          top: 50%;
          transform: translateY(-50%);
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__icon-bar {
    width: 30px;
    height: 1px;
    background: b.$text-color-white;
    transition: 0.4s;
  }
}
