@use "sass:map";
@use "base" as b;

.page-faq {
  .block-page-ttl {
    position: relative;
    /* 左から20%・上↓中央の位置を中心に表示する */
    background-position: 46% bottom;
    background-size: 400%;

    @include b.mq(pc) {
      background-position: 20% center;
    }

    @include b.mq(xl) {
      background-position: 20% 65%;
    }
  }

  &__section {
    .parts-bg-circle {
      top: -115px;
      right: -130px;
    }

    .circle-container {
      width: 83.333vw;
      height: 83.333vw;
      min-width: 325px;
      min-height: 325px;

      @include b.mq(pc) {
        width: 36.46vw;
        height: 36.46vw;
        max-width: 700px;
        max-height: 700px;
      }
    }

    // 線を3Dで回転させる
    .circle {
      width: 82.82vw;
      height: 82.82vw;
      min-width: 323px;
      min-height: 323px;

      @include b.mq(pc) {
        width: 34.9vw;
        height: 34.9vw;
        max-width: 670px;
        max-height: 670px;
      }
    }
  }

  &__inner {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    gap: 75px;
  }

  &__category {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__ttl {
    font-weight: 900;
    color: b.$main-color;
    font-size: 20px;
    text-align: center;
  }

  .cremation {
    .page-faq__ttl {
      padding-inline: 50px;
      min-width: 258px;
    }
  }

  .funeral {
    .page-faq__ttl {
      padding-inline: 60px;
      min-width: 240px;
    }
  }

  .perpetual-care {
    .page-faq__ttl {
      padding-inline: 30px;
      min-width: 300px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    font-weight: 700;
  }

  &__q,
  &__a {
    display: flex;
    gap: 29px; // ラベルとテキストの間の距離
    align-items: flex-start; // 上揃えにする
  }

  &__label {
    flex-shrink: 0; // ラベルが横に潰れないように固定
    width: 1.4em; // ラベルの幅を固定するとより綺麗です
  }

  &__txt {
    flex: 1; // 残りの幅をすべて使う
    font-size: 14px;
    line-height: 1.7;
    margin: 0; // ブラウザ規定の余白をリセット
  }

  &__q {
    padding-bottom: 10px;
    .page-faq__label {
    }

    .page-faq__txt {
      color: b.$main-color;
    }
  }
  &__a {
    padding-top: 15px;
    border-top: 1px solid b.$main-color;

    .page-faq__label {
    }

    .page-faq__txt {
      font-size: 14px;
    }
  }
}
