@use "sass:map";
@use "base" as b;

.page-faq {
  .block-page-ttl {
    position: relative;
    /* 左から20%・上↓中央の位置を中心に表示する */
    background-position: 46% bottom;
    background-size: 400%;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    overflow: hidden;
    text-align: center;
    padding-inline: 3.85vw;
    z-index: 2;

    @include b.mq(pc) {
      background-position: 20% center;
    }

    @include b.mq(xl) {
      background-position: 20% 65%;
    }
  }

  &__section {
    padding: 0;
  }

  &__inner {
  }

  &__contents {
  }

  &__category {
  }

  &__ttl {
  }

  &__card {
    display: flex;
    flex-direction: column;
  }

  &__q,
  &__a {
    display: flex;
    gap: 15px; // ラベルとテキストの間の距離
    align-items: flex-start; // 上揃えにする
  }

  &__label {
    flex-shrink: 0; // ラベルが横に潰れないように固定
    width: 1.4em; // ラベルの幅を固定するとより綺麗です
  }

  &__txt {
    flex: 1; // 残りの幅をすべて使う
    font-size: 16px;
    line-height: 1.7;
    margin: 0; // ブラウザ規定の余白をリセット
  }
}
