@use "sass:map";
@use "base" as b;

.page-introduce {
  &__inner {
    @include b.mq(pc) {
      padding: 0;
    }
  }

  &__contents {
    position: relative;

    .parts-bg-circle {
      top: -24px;
      right: -60px;
    }
  }

  &__lead {
    font-weight: 900;
    border-bottom: 1px solid b.$border-color-dark;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    padding-top: 50px;
    padding-bottom: 30px;

    h3 {
      font-size: 20px;
      color: b.$main-color;
    }
    p {
      font-size: 14px;
      line-height: 1.8;
    }
  }
  &__content {
    padding-top: 50px;
  }
  &__cards {
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  &__card {
    font-weight: 900;
    box-shadow: 0px 4px 4px 0px #00000040;

    img {
      width: 100%;
    }

    &-txt {
      padding: 25px 15px 35px;

      h4 {
        font-size: 18px;
        color: b.$main-color;
        margin-bottom: 25px;
        width: fit-content;
        margin-inline: auto;
      }
      p {
        font-size: 14px;
        line-height: 1.8;
        margin-bottom: 35px;
      }
      span {
        font-size: 14px;
        line-height: 1.8;
      }
    }
  }
}
