@use "sass:map";
@use "base" as b;

.page-company {
  .block-page-ttl {
    position: relative;
    background-position: 30% bottom;
    background-size: 300%;

    @include b.mq(tb) {
      background-position: 20% bottom;
      background-size: 160%;
    }
    @include b.mq(pc) {
      background-position: 20% 60%;
    }
    @include b.mq(lg) {
      background-position: 20% 65%;
      background-size: cover;
    }

    @include b.mq(xl) {
      background-position: 20% 50%;
    }
  }
  &__section {
  }

  &__inner {
    padding-top: 50px;
    padding-bottom: 32px;

    @include b.mq(pc) {
      padding-top: 100px;
    }
  }

  &__container {
    position: relative;

    .parts-bg-flower--right {
      top: -8px;
      right: 0;

      @include b.mq(pc) {
        max-width: 364px;
        width: 18.958vw;
        top: -30px;
      }
    }
  }

  &__box {
    max-width: 560px;
    margin-inline: auto;

    @include b.mq(pc) {
      max-width: 880px;
    }
  }

  &__ttl {
    font-weight: 900;
    color: b.$main-color;
    font-size: 20px;
    text-align: center;
    margin-bottom: 32px;

    @include b.mq(pc) {
      font-size: 32px;
      margin-bottom: 40px;
    }
  }

  &__table {
    border-collapse: collapse;
    width: 100%;

    &-list {
      display: flex;
      align-items: stretch;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.02em;

      @include b.mq(pc) {
        font-size: 16px;
      }

      &:last-child {
        .page-company__table-ttl {
          border-bottom: 1px solid b.$border-color-dark;
        }

        .page-company__table-input {
          border-bottom: 1px solid b.$border-color-dark;
        }
      }

      @include b.mq(pc) {
        border-top: none;
        border-bottom: none;
      }
    }
    &-ttl {
      display: flex;
      justify-content: start;
      align-items: stretch;
      width: 34.5%;
      max-width: 196px;
      padding-block: 32px;
      vertical-align: middle;
      border-top: 1px solid b.$border-color-dark;

      @include b.mq(pc) {
        width: 24%;
      }
    }
    &-input {
      margin-left: 56px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: calc(65.5% - 56px);
      max-width: 628px;
      padding-block: 32px;
      border-top: 1px solid b.$border-color-dark;

      @include b.mq(pc) {
        width: 100%;
      }
    }
  }
}
