@use "sass:map";
@use "../foundation/base" as b;

.footer {
  background: b.$main-color;
  color: b.$text-color-white;

  &__inner {
    padding: 25px clamp(15px, 3.85vw, 320px) 12px;

    @include b.mq(pc) {
      padding: 36px clamp(90px, 3.85vw, 320px) 12px;
    }
    @include b.mq(lg) {
      padding: 36px clamp(180px, 3.85vw, 320px) 12px;
    }
    @include b.mq(xl) {
      padding: 36px 320px 12px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  .parts-logo {
    color: b.$text-color-white;
    justify-content: start;
  }

  &__info {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include b.mq(pc) {
      font-size: 16px;
      align-items: end;
    }

    &-address {
    }

    &-tel {
    }

    &-privacy-policy {
      @include b.mq(pc) {
        margin-top: 25px;
      }
    }
  }

  &__copyright {
    display: block;
    margin-top: 112px;
    font-size: 12px;
    text-align: center;

    @include b.mq(lg) {
      margin-top: 204px;
      font-size: 16px;
    }
  }
}
