@use "sass:map";
@use "../foundation/base" as b;

.header {
  &__inner {
    padding-inline: clamp(15px, 3.84vw, 120px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10.256vw;
    max-height: 80px;

    @include b.mq(lg) {
      max-width: 1680px;
      padding: 0;
      margin-inline: auto;
      height: 100px;
    }
    @include b.mq(xl) {
      // padding-inline: 120px;
    }
  }

  .parts-logo {
    position: relative;

    @include b.mq(lg) {
      padding-left: 15px;
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    padding-block: 10px;
    padding-inline: clamp(15px, 3.85vw, 120px);
    transform: translateX(200%);
    z-index: 100;
    transition: transform 0.4s;
    background: b.$main-color;
    width: 100%;
    max-width: 390px;
    height: fit-content;
    color: b.$text-color-white;

    &.is-checked {
      transform: translateX(0);
    }

    @include b.mq(tb) {
    }
    @include b.mq(pc) {
      // right: 6.25vw;
    }

    @include b.mq(lg) {
      display: flex;
      top: 0;
      right: 0;
      position: relative;
      align-items: center;
      gap: 30px;
      transform: none;
      transition: none;
      background: none;
      width: fit-content;
      max-width: none;
      height: 100px;
      color: b.$main-color;
      font-weight: 900;
    }

    .parts-logo {
      margin-right: auto;
      width: fit-content;
      height: 10.256vw;
      max-height: 80px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      padding-top: 20px;

      .menu-item {
        white-space: nowrap;
        padding-block: 20px;
        border-bottom: dashed 1px b.$sub-color-light;

        &:last-child {
        }
      }
    }

    .parts-tel {
      &--white {
        a {
          font-size: 24px;
        }

        span {
          width: 50px;
          height: 36px;
          background-color: b.$sub-color-light;
        }
      }
    }
  }
  &__btn {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 25px 20px;
    background: b.$sub-color-light;
    color: b.$main-color;
    border-radius: 10px;
    width: fit-content;
    margin-inline: auto;
    font-weight: 900;
    font-size: 15px;

    &-icon {
      width: 35px;
      height: 27px;
      mask-image: url("../img/mail-icon.svg");
      background-color: b.$main-color;
    }
  }

  &__open {
  }

  &__drawer-icon {
    width: 10.256vw;
    height: 10.256vw;
    max-width: 50px;
    max-height: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: b.$main-color;
    position: relative;
    z-index: 1000;

    &.is-checked {
      .header__icon-bar {
        position: absolute;

        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%);
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          top: 50%;
          transform: translateY(-50%);
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__icon-bar {
    width: 30px;
    height: 1px;
    background: b.$text-color-white;
    transition: 0.4s;
  }
}
