@use "sass:map";
@use "../../foundation/base" as b;

.parts-contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  margin-inline: auto;
  border-radius: 10px;
  padding: 25px 20px;
  width: fit-content;
  font-weight: 900;
  font-size: 15px;
  transition: 0.3s;

  &:hover {
    background: b.$sub-color-light;
    color: b.$main-color;

    .header__btn-icon {
      mask-image: url("../img/mail-icon.svg");
      background-color: b.$main-color;

      img {
        display: none;
      }
    }
  }

  span {
    width: 35px;
    height: 27px;
  }
  &--primary {
    background: b.$main-color;
    color: b.$text-color-white;

    span {
      mask-image: none;
      background-color: none;
      img {
        width: 100%;
      }
    }
  }
}
