@use "sass:map";
@use "../../foundation/base" as b;

.parts-contact-btn {
  transform: 0.3s;

  span {
  }
  &--white {
    background: b.$sub-color-light;
    color: b.$main-color;

    span {
      mask-image: url("../img/ui/mail-icon.svg");
      background-color: b.$main-color;

      img {
        display: none;
      }
    }

    &:hover {
      background: b.$main-color;
      color: b.$sub-color-light;
      border: 2px solid b.$sub-color-light;

      span {
        mask-image: none;
        img {
          display: block;
        }
      }
    }
  }
}
