@use "sass:map";
@use "../../foundation/base" as b;

.parts-btn {
  width: fit-content;
  &__link {
    width: 184px;
    height: 52px;
    background-color: b.$main-color;
    color: b.$text-color-white;
    font-weight: 700;
    line-height: 1.2;
    padding: 16px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;

    &:hover {
      background-color: b.$sub-color-light;
      color: b.$main-color;
      border: 1px solid b.$main-color;
      box-sizing: border-box;
      transition: 0.3s;
    }
  }
}

// パーツ　セクション：コンタクト用
.parts-btn.sec-contact {
  .parts-btn__link {
    width: 250px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    color: b.$text-color-white;
    font-weight: 900;
    font-size: 16px;
    white-space: nowrap;
    max-width: 250px;

    &:hover {
      background: b.$sub-color-light;
      box-sizing: border-box;
      transition: 0.3s;
    }

    .link-icon {
      clip-path: polygon(0 0, 0 100%, 85% 50%);
      background: b.$sub-color-light;
      display: inline-block;
      width: 10px;
      height: 10px;
    }
  }
}

.sec-contact-mail {
  .parts-btn__link {
    &:hover {
      color: b.$main-color;
      border: 1px solid b.$main-color;
      box-sizing: border-box;
      transition: 0.3s;

      .link-icon {
        background: b.$main-color;
        transition: 0.3s;
      }
    }
  }
}
.sec-contact-line {
  .parts-btn__link {
    background: #a6ce4f;

    &:hover {
      color: #a6ce4f;
      border: 1px solid #a6ce4f;
      box-sizing: border-box;
      transition: 0.3s;

      .link-icon {
        background: #a6ce4f;
        transition: 0.3s;
      }
    }
  }
}
