@use "sass:map";
@use "../../foundation/base" as b;

.parts-page-contact-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px auto 35px;

  @include b.mq(xs) {
    flex-direction: column;
  }

  @include b.mq(pc) {
    gap: 36px;
    margin: 100px auto 80px;
  }
  @include b.mq(lg) {
    gap: 58px;
  }

  &__step {
    font-weight: 700;
    background: b.$sub-color-light;
    color: b.$text-color-dark;
    padding: 14px 28px;

    @include b.mq(pc) {
      font-size: 24px;
      padding: 24px 100px;
    }
    @include b.mq(lg) {
      font-size: 24px;
      padding: 24px 125px;
    }

    &--input {
      clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
    }
    &--confirm {
      clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
    }
    &--complete {
    }
  }
}
