@use "sass:map";
@use "../../foundation/base" as b;

.parts-tel {
  margin-bottom: 10px;

  @include b.mq(pc) {
    margin-bottom: 15px;
  }

  a {
    font-weight: 900;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-inline: auto;

    @include b.mq(pc) {
      font-size: 32px;
      justify-content: start;
      margin-top: 28px;
      margin: 0;

      pointer-events: none;
      cursor: default; /* カーソルを指マークにしない */
    }
  }

  span {
    width: 33.5px;
    height: 24px;
    mask-image: url("../img/ui/tel-icon.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;

    @include b.mq(pc) {
      width: 58px;
      height: 41.5px;
    }
  }

  &--primary {
    a {
      color: b.$main-color;
    }

    span {
      background-color: b.$main-color;
    }
  }
}
