@use "sass:map";
@use "../../base" as b;

.section-fv {
  width: 100%;
  overflow: hidden;

  &__inner {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 128px;
    padding-bottom: 54px;
    padding-left: 15px;
  }

  &__lead {
    position: absolute;
    pointer-events: none;
    top: 32px;
    right: 3.84vw;
    color: b.$main-color;
    text-align: left;
    z-index: 100;
    .section-fv__lead-en {
      font-family: b.$font-family-en;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: b.$text-color-white;
      letter-spacing: 0.2em;
      -webkit-text-stroke: 0.3px b.$main-color; // 縁の太さ 色
    }

    .section-fv__lead-ja {
      font-family: b.$font-family-ja;
      font-weight: 900;
      margin-top: 8px;

      h3 {
        font-size: 14px;
      }
      h2 {
        font-size: 18px;
      }
    }
  }
}

.swiper {
  width: 100%;
  height: 230px;
  overflow: hidden;
  position: relative;
  margin-right: auto;

  &-wrapper {
    height: 100%;
    transition-timing-function: linear !important;
  }

  &-slide {
    height: fit-content !important;

    &-container {
      position: relative;
      display: flex;
      flex-direction: column; /* 縦に並べる */
      width: 80.76vw; /* 任意 */
      height: auto;
      margin-right: auto;
    }
  }

  &-img {
    position: relative; /* absoluteをやめる */
    display: block;
    aspect-ratio: auto;
  }

  .img-1 {
    width: 41vw;
    height: 47.43vw;
    margin-right: auto;
  }

  .img-2 {
    width: 24.87vw;
    height: 31.28vw;
    margin-left: auto;
    margin-top: -54px;
  }

  &-scrollbar {
    position: relative;
    background: b.$main-color; // バーの背景色
    width: 1px !important; // バーの太さ
    right: 32px !important; // 右端からの位置
    height: 96px !important;
    padding-top: 5px;
    margin-top: 130px;

    &::after {
      content: "SCROLL";
      font-size: 9px;
      font-family: b.$font-family-en-sub;
      color: b.$main-color;
      position: absolute;
      display: inline-block; // ← 必須
      transform: rotate(270deg);
      bottom: 11px;
      left: -4px;
    }

    // 動くツマミ部分のデザイン
    &-drag {
      width: 7px;
      height: 7px !important;
      left: -3px !important;
      border-radius: 50%;
      border: 1px solid b.$main-color;
      background: b.$sub-color-light !important; // ツマミの色
      // ツマミ自体の追従が遅れる場合は、ここもlinearにすると同期が強まります
      transition-timing-function: linear !important;
      /* ツマミの基準点を中心にする */
      // cursor: grab;
    }
  }
}
