@use "sass:map";
@use "../foundation/base" as b;

.page-contact-confirm {
  &__container {
    .parts-page-contact-steps {
      &__step {
        &--input {
          color: b.$text-color-dark;
          background: b.$sub-color-light;
        }
        &--confirm {
          color: b.$text-color-white;
          background: #bfa944;
        }
      }
    }
  }
  &__form {
    .form-box {
      color: b.$text-color-white;

      .category {
        pointer-events: none;
        select {
          padding: 14px 12px 14px 36px;
          background: b.$main-color;

          cursor: default;
        }

        &::after {
          left: 0;
          top: 48px;
          width: 20px;
          height: 20px;

          // 画像の読み込み（テーマフォルダ内のパスに合わせて調整してください）
          background: b.$main-color;
          border: 1px solid b.$sub-color-light;
          border-radius: 50%;
          pointer-events: none; // マークの上をクリックしてもセレクトボックスが反応しないように

          @include b.mq(pc) {
            top: 67px;
          }
        }
      }

      input,
      textarea {
        padding: 14px 36px;

        background: b.$main-color;
      }
      /* CF7のテキストエリアを狙い撃ち */
      .wpcf7-textarea {
        padding-inline: 12px;
      }

      .category {
        margin: 0;
      }

      .zip-wrap {
        p {
          .zip-icon {
            background: b.$main-color;
            padding-left: 0;
            padding-right: 20px;
            padding-block: 10px;
          }
        }
      }
    }

    .form-item {
      &.submit-btn {
        width: fit-content;
        margin-inline: auto;
        margin-top: 30px;

        .wpcf7-submit {
          background: b.$sub-color-light;
          color: b.$main-color;
          font-weight: 700;
          font-size: 20px;
          padding: 10px 100px;

          @include b.mq(pc) {
            font-size: 24px;
          }
        }
      }
    }

    .form-navigation {
      .submit-btn {
        width: fit-content;
        margin-inline: auto;

        p {
          .wpcf7-submit {
            transition: 0.3s;
            border: 2px solid transparent;

            &:hover {
              background: b.$main-color;
              color: b.$text-color-white;
              border-color: b.$sub-color-light;
            }
          }
        }
      }
    }
  }
}
