@use "sass:map";
@use "../foundation/base" as b;

.page-faq {
  .block-page-ttl {
    position: relative;
    /* 左から20%・上↓中央の位置を中心に表示する */
    background-position: 46% bottom;
    background-size: 400%;
    background-size: clamp(120%, calc(450% - 10vw), 400%);

    @include b.mq(tb) {
      background-size: 200%;
    }
    @include b.mq(pc) {
      background-position: 40% bottom;
      background-size: 200%;
    }

    @include b.mq(xl) {
      background-size: cover;
      background-position: 20% 65%;
    }
  }

  &__section {
    .parts-bg-circle {
      top: -115px;
      right: -130px;

      @include b.mq(pc) {
        top: 0;
        right: -100px;
      }
    }

    .circle-container {
      width: 83.333vw;
      height: 83.333vw;
      min-width: 325px;
      min-height: 325px;

      @include b.mq(pc) {
        width: 36.46vw;
        height: 36.46vw;
        max-width: 700px;
        max-height: 700px;
      }
    }

    // 線を3Dで回転させる
    .circle {
      width: 82.82vw;
      height: 82.82vw;
      min-width: 323px;
      min-height: 323px;

      @include b.mq(pc) {
        width: 34.9vw;
        height: 34.9vw;
        max-width: 670px;
        max-height: 670px;
      }
    }
  }

  &__inner {
    padding-top: 50px;
    padding-bottom: 25px;

    @include b.mq(pc) {
      padding-bottom: 0;
    }
  }

  &__contents {
    display: flex;
    flex-direction: column;
    gap: 75px;
    max-width: 620px;
    margin-inline: auto;

    @include b.mq(pc) {
      max-width: 920px;
      width: 100%;
      gap: 100px;
    }
    @include b.mq(lg) {
      max-width: 1280px;
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include b.mq(pc) {
      max-width: 958px;
      width: 100%;
      margin-inline: auto;
      gap: 36px;
    }
  }

  &__ttl {
    font-weight: 900;
    color: b.$main-color;
    font-size: 20px;
    text-align: center;

    @include b.mq(pc) {
      font-weight: 700;
      font-size: 32px;
      padding: 0;
    }
    @include b.mq(lg) {
      font-size: 40px;
    }

    span {
      @include b.mq(pc) {
        display: inline-block;
        font-weight: 700;
        font-size: 32px;
        color: b.$main-color;
      }
      @include b.mq(lg) {
        font-size: 40px;
      }
    }
  }

  .cremation {
    .page-faq__ttl {
      padding-inline: 50px;
      min-width: 258px;

      @include b.mq(pc) {
        padding: 0;
      }
    }
  }

  .funeral {
    .page-faq__ttl {
      padding-inline: 60px;
      min-width: 240px;

      @include b.mq(pc) {
        padding: 0;
      }
    }
  }

  .perpetual-care {
    .page-faq__ttl {
      padding-inline: 30px;
      min-width: 300px;

      @include b.mq(pc) {
        padding: 0;
      }
    }
  }
}
