@use "sass:map";
@use "../foundation/base" as b;

.front-page {
  position: relative; // ストッパーの「基準点」にするため

  // .links {
  //   display: none; // スマホでは隠す

  //   @include b.mq(pc) {
  //     display: flex;
  //     flex-direction: column;
  //     gap: 16px;

  //     // --- 画面に対して固定 ---
  //     position: fixed;
  //     z-index: 9999;
  //     top: 24.791vw;

  //     // 「ヘッダーの端に合わせる」計算
  //     right: max(15px, 3.846vw);

  //     @media (min-width: 1680px) {
  //       right: calc(50% - 840px);
  //     }
  //   }

  //   @include b.mq(lg) {
  //     top: 29.791vw;
  //   }
  //   @include b.mq(xl) {
  //     top: min(650px, 34.791vw);
  //   }

  //   &.is-stopped {
  //     position: absolute !important; // 追従をやめて、その場に留まる
  //     top: auto !important;
  //     bottom: -180px !important; // フッターの少し上で止める
  //   }
  // }

  // .link {
  //   display: flex;
  //   gap: 18px;
  //   align-items: center;
  //   width: 400px;
  //   color: b.$text-color-white;
  //   background-color: b.$main-color;
  //   border: 2px solid b.$main-color;
  //   // box-sizing: border-box;
  //   font-weight: 900;
  //   line-height: 1.8;
  //   transition: 0.3s;

  //   &:hover {
  //     background-color: b.$sub-color-light;
  //     color: b.$main-color;

  //     .icon-arrow {
  //       background: b.$main-color;

  //       &::before,
  //       &::after {
  //         background: b.$main-color;
  //       }
  //     }
  //   }

  //   .link-img {
  //     width: 60px;
  //     height: 40px;
  //     background-color: b.$sub-color-light;

  //     img {
  //       width: 100%;
  //     }
  //   }

  //   .link-txt {
  //     margin-right: auto;
  //   }

  //   .icon-arrow {
  //     position: relative;
  //     display: inline-block;
  //     width: 20px;
  //     height: 2px;
  //     margin: 5.7px 0;
  //     margin-right: 10px;
  //     border-radius: 9999px;
  //     background-color: b.$sub-color-light;
  //     transition: 0.3s;

  //     &::before,
  //     &::after {
  //       content: "";
  //       position: absolute;
  //       top: calc(50% - 1px);
  //       right: 0;
  //       width: 10px;
  //       height: 2px;
  //       border-radius: 9999px;
  //       background-color: b.$sub-color-light;
  //       transform-origin: calc(100% - 1px) 50%;
  //     }

  //     &::before {
  //       transform: rotate(45deg);
  //     }

  //     &::after {
  //       transform: rotate(-45deg);
  //     }
  //   }
  // }

  .section-contact {
    .block-info--primary {
      .parts-tel--primary {
        a {
          border: 2px solid b.$main-color;
          padding: 20px;
          color: b.$text-color-white;
          background-color: b.$main-color;
          border-radius: 5px;
        }

        span {
          background-color: b.$text-color-white;
        }
      }
    }
  }
}
