@use "sass:map";
@use "../foundation/base" as b;

.page-contact {
  margin-bottom: 50px;
  &__section {
    background: b.$main-color;
  }
  &__inner {
    padding-block: 50px 25px;
  }

  &__container {
    position: relative;
    .parts-bg-flower {
      top: -44px;
      right: 0;

      @include b.mq(pc) {
      }
    }
  }
  &__ttl {
    color: b.$text-color-white;
    text-align: center;
    font-weight: 900;
    font-size: 20px;

    @include b.mq(pc) {
      font-size: 32px;
    }
  }
  &__steps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 30px auto 35px;

    @include b.mq(pc) {
      gap: 36px;
    }
    @include b.mq(lg) {
      gap: 58px;
      margin: 100px auto 80px;
    }
  }

  &__step {
    font-weight: 700;
    background: b.$sub-color-light;
    color: b.$text-color-dark;
    padding: 14px 28px;

    @include b.mq(pc) {
      font-size: 24px;
      padding: 24px 100px;
    }
    @include b.mq(lg) {
      font-size: 24px;
      padding: 24px 125px;
    }

    &--input {
      color: b.$text-color-white;

      background: #bfa944;
      clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
    }
    &--confirm {
      clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 0);
    }
    &--complete {
    }
  }

  &__form {
    max-width: 600px;
    width: 100%;
    margin-inline: auto;

    @include b.mq(pc) {
      max-width: 840px;
    }
    .form-box {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 25px;
      font-weight: 700;

      @include b.mq(pc) {
        font-size: 24px;
      }

      .forum-item {
        width: 100%;
      }

      .form-item {
        &.category {
          display: flex;
          flex-direction: column;
          gap: 10px;
          position: relative;
          width: fit-content;
          @include b.mq(pc) {
          }
        }
      }

      .category {
        @include b.mq(pc) {
        }

        p {
        }
        select {
          padding: 14px 60px 14px 12px;
          width: 220px;

          @include b.mq(pc) {
            width: 420px;
          }

          /* 1. 標準の矢印を消す */
          appearance: none; // これで標準の「v」が消える
          -webkit-appearance: none; // Safari用
          -moz-appearance: none; // Firefox用
          cursor: pointer;
        }

        /* 2. 新しいマークを作る */
        &::after {
          content: "";
          position: absolute;
          right: 32px; // 右端からの位置
          top: 50px;
          width: 18px;
          height: 20px;

          // 画像の読み込み（テーマフォルダ内のパスに合わせて調整してください）
          background-image: url("../img/contact-form-icon.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;

          pointer-events: none; // マークの上をクリックしてもセレクトボックスが反応するようにする

          @include b.mq(pc) {
            top: 68px;
          }
        }
      }

      .form-item {
        @include b.mq(pc) {
        }
        p {
          display: flex;
          flex-direction: column;
          gap: 10px;

          br {
            display: none;
          }
        }
      }

      input,
      textarea {
        width: 100%;
        border: none;
        padding: 14px 20px;

        &:focus {
          outline: none; /* 青い枠線を消す */
          box-shadow: none; /* ブラウザによっては影が出ていることもあるので消す */
          border-color: #ccc; /* 枠線の色が勝手に変わるのを防ぎ、任意の色に固定する */
        }
      }
      .label-text {
        font-weight: 700;
        color: b.$text-color-white;
        span {
          color: b.$accent-color-red;
        }
      }
      .category {
        margin-bottom: 20px;
      }

      .address {
        .label-text {
          display: block;
          margin-bottom: 10px;
        }

        input {
          padding-block: 10px;
        }
      }

      .address-box {
        display: flex;
        flex-direction: column;
      }
      .zip-wrap {
        position: relative;
        padding-bottom: 20px;
        p {
          display: flex;
          flex-direction: row;
          align-items: start;
          width: fit-content;
          gap: 10px;

          .zip-icon {
            height: 100%;
            background: b.$sub-color-light;
            padding-left: 22px;
            padding-right: 16px;
            padding-block: 10px;
            font-weight: 700;
          }

          .address-txt {
            background: b.$main-color;
            color: b.$text-color-white;
            font-weight: 700;
            display: inline-block;
            height: 100%;
            padding-top: 10px;
          }

          input {
            width: 142px;
            padding: 10px 64px 10px 2px;
            margin-left: -12px;

            @include b.mq(pc) {
              width: 170px;
            }
          }
        }
      }
    }

    .form-item {
      &.check-box {
        width: fit-content;
        margin-inline: auto;
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: center;
        }

        input {
          width: 20px;
          height: 20px;
          margin: 0;
          accent-color: b.$sub-color-light;
        }

        .wpcf7-list-item {
          margin: 0;
        }

        .wpcf7-list-item-label {
          font-weight: 700;
          color: b.$text-color-white;

          @include b.mq(pc) {
            font-size: 16px;
          }
        }
      }
    }

    .form-item {
      &.confirm-btn {
        width: fit-content;
        margin-inline: auto;
        margin-top: 30px;

        .wpcf7-submit {
          background: b.$sub-color-light;
          color: b.$main-color;
          font-weight: 700;
          font-size: 20px;
          padding: 10px 100px;

          @include b.mq(pc) {
            font-size: 24px;
          }
        }
      }
    }

    // プレースホルダーの色
    .wpcf7 input::placeholder,
    .wpcf7 textarea::placeholder {
      color: #dcdcdc;
    }
  }
}
