@use "sass:map";
@use "base" as b;

.page-faq {
  .block-page-ttl {
    position: relative;
    /* 左から20%・上↓中央の位置を中心に表示する */
    background-position: 46% bottom;
    background-size: 400%;
    background-size: clamp(120%, calc(450% - 10vw), 400%);

    @include b.mq(tb) {
      background-size: 200%;
    }
    @include b.mq(pc) {
      background-position: 40% bottom;
      background-size: 200%;
    }

    @include b.mq(xl) {
      background-size: cover;
      background-position: 20% 65%;
    }
  }

  &__section {
    .parts-bg-circle {
      top: -115px;
      right: -130px;

      @include b.mq(pc) {
        top: 0;
        right: -100px;
      }
    }

    .circle-container {
      width: 83.333vw;
      height: 83.333vw;
      min-width: 325px;
      min-height: 325px;

      @include b.mq(pc) {
        width: 36.46vw;
        height: 36.46vw;
        max-width: 700px;
        max-height: 700px;
      }
    }

    // 線を3Dで回転させる
    .circle {
      width: 82.82vw;
      height: 82.82vw;
      min-width: 323px;
      min-height: 323px;

      @include b.mq(pc) {
        width: 34.9vw;
        height: 34.9vw;
        max-width: 670px;
        max-height: 670px;
      }
    }
  }

  &__inner {
    padding-top: 50px;
    padding-bottom: 25px;

    @include b.mq(pc) {
      padding-bottom: 0;
    }
  }

  &__contents {
    display: flex;
    flex-direction: column;
    gap: 75px;
    max-width: 620px;
    margin-inline: auto;

    @include b.mq(pc) {
      max-width: 920px;
      width: 100%;
      gap: 100px;
    }
    @include b.mq(lg) {
      max-width: 1280px;
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include b.mq(pc) {
      gap: 36px;
    }
  }

  &__ttl {
    font-weight: 900;
    color: b.$main-color;
    font-size: 20px;
    text-align: center;

    @include b.mq(pc) {
      font-weight: 700;
      font-size: 32px;
      padding: 0;
    }
    @include b.mq(lg) {
      font-size: 40px;
    }

    span {
      @include b.mq(pc) {
        display: inline-block;
        font-weight: 700;
        font-size: 32px;
        color: b.$main-color;
      }
      @include b.mq(lg) {
        font-size: 40px;
      }
    }
  }

  .cremation {
    .page-faq__ttl {
      padding-inline: 50px;
      min-width: 258px;

      @include b.mq(pc) {
      }
    }
  }

  .funeral {
    .page-faq__ttl {
      padding-inline: 60px;
      min-width: 240px;
    }
  }

  .perpetual-care {
    .page-faq__ttl {
      padding-inline: 30px;
      min-width: 300px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    font-weight: 700;

    @include b.mq(pc) {
      // padding-left: 161px;
      padding-left: clamp(15px, 1.4648vw, 30px);
    }

    @include b.mq(lg) {
      padding-left: clamp(15px, 8.385vw, 161px);
    }
  }

  &__q,
  &__a {
    display: flex;
    gap: 29px; // ラベルとテキストの間の距離
    align-items: flex-start;
  }

  &__label {
    flex-shrink: 0; // ラベルが横に潰れないように固定
    width: 1.4em; // ラベルの幅を固定するとより綺麗です
    height: fit-content;

    @include b.mq(pc) {
      font-size: 20px;
    }
  }

  &__txt {
    flex: 1; // 残りの幅をすべて使う
    font-size: 14px;
    margin: 0; // ブラウザ規定の余白をリセット
  }

  &__q {
    padding-bottom: 10px;

    .page-faq__label {
      color: b.$main-color;

      @include b.mq(pc) {
        margin-top: 4px;
      }
      @include b.mq(lg) {
        margin-top: 12px;
      }
    }

    .page-faq__txt {
      color: b.$main-color;

      @include b.mq(pc) {
        font-size: 24px;
      }
      @include b.mq(lg) {
        font-size: 30px;
      }
    }
  }
  &__a {
    padding-top: 15px;
    border-top: 1px solid b.$main-color;

    @include b.mq(pc) {
      border: none;
    }

    .page-faq__label {
      @include b.mq(pc) {
        margin-top: 5px;
      }
    }

    .page-faq__txt {
      font-size: 14px;

      @include b.mq(pc) {
        font-size: 20px;
        // margin-right: 161px;
        margin-right: clamp(15px, 1.4648vw, 30px);
      }

      @include b.mq(lg) {
        margin-right: clamp(15px, 8.385vw, 161px);
      }
    }
  }
}
