@use "sass:map";
@use "base" as b;

.page-privacy-policy {
  &__section {
  }
  &__inner {
    padding-block: 50px;

    @include b.mq(pc) {
      padding-block: 100px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 780px;
    margin-inline: auto;

    @include b.mq(pc) {
      max-width: 1080px;

      gap: 40px;
    }
  }
  &__head {
    line-height: 1.8;

    &-ttl {
      font-weight: 900;

      font-size: 18px;

      @include b.mq(pc) {
        font-size: 24px;
      }
    }
    &-txt {
      font-weight: 900;

      font-size: 14px;

      @include b.mq(pc) {
        font-size: 16px;
      }
    }
  }

  &__body {
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__card {
    &-ttl {
      font-size: 18px;
      font-weight: 900;

      @include b.mq(pc) {
        font-size: 24px;
      }
    }
    &-txt {
      font-size: 14px;
      font-weight: 900;

      @include b.mq(pc) {
        font-size: 16px;
      }
    }
  }
}
