@use "sass:map";
@use "../foundation/base" as b;

.page-s-cremation {
  // 共通スタイルーーーーーーーーーーーーーーーーーーーーーーーーー

  font-weight: 900;

  &__ttl {
    color: b.$main-color;
    font-size: 20px;
    text-align: center;
  }
  &__txt {
    text-align: center;
  }

  &__card-txt {
    font-size: 14px;
  }
  // 共通スタイルーーーーーーーーーーーーーーーーーーーーーーーーー

  &__section {
    &--1 {
      margin-top: 50px;

      .page-s-cremation {
        &__inner {
          .parts-bg-circle {
            right: -50px;
            top: -80px;
          }
        }
        &__txt {
          margin-top: 25px;
        }
      }
    }

    &--2 {
      margin-top: 96px;
      .page-s-cremation {
        &__inner {
        }

        &__ttl {
        }

        &__txt {
          margin-top: 15px;
          line-height: 1.8;
        }

        &__cards {
          margin-top: 35px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 35px;
          max-width: 550px;
        }
        &__card {
          background: b.$main-color;
          color: b.$sub-color-light;
          padding: 5.13vw 3.846vw;
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: center;
          justify-content: center;

          &-img {
            width: 250px;
            height: 250px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &-ttl {
          }
          &-txt {
            line-height: 1.8;
          }
        }
      }
    }
    &--3 {
      margin-top: 75px;

      .page-s-cremation {
        &__inner {
        }
        &__card {
          max-width: 550px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: center;
          justify-content: center;

          &-img {
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &-txt {
            line-height: 2;
            padding-inline: 3.846vw;
            text-align: left;
          }
        }
      }
    }
    &--4 {
      .page-s-cremation {
        &__inner {
        }

        &__ttl {
        }

        &__cards {
        }
        &__card {
          &-img {
            img {
            }
          }

          &-ttl {
          }
          &-txt {
          }
        }

        &__flow {
          &-container {
          }
          &-step {
            &--1 {
            }
          }
        }
      }
    }
    &--5 {
      .page-s-cremation {
        &__inner {
        }

        &__ttl {
        }

        &__cards {
        }
        &__card {
          &-img {
            img {
            }
          }

          &-ttl {
            &--sub {
            }
          }
          &-txt {
          }
        }
      }
    }
    &--6 {
      .page-s-cremation {
        &__inner {
        }

        &__ttl {
        }

        &__txt {
          &--sub {
          }
        }

        &__container {
        }
        &__img {
          img {
          }
        }

        &__cards {
        }
        &__card {
          &-ttl {
          }
          &-txt {
          }
        }
      }
    }
    &--7 {
      .page-s-cremation {
        &__inner {
        }

        &__ttl {
        }

        &__content {
        }
      }
    }
  }
}
