@use "sass:map";
@use "../foundation/base" as b;

.page-s-cremation {
  .block-page-ttl {
    background-position: 75% center;
    background-size: cover;

    @include b.mq(pc) {
      background-position: center center;
    }
  }

  // 共通スタイルーーーーーーーーーーーーーーーーーーーーーーーーー

  &__ttl {
    font-weight: 900;
    color: b.$main-color;
    font-size: 20px;
    text-align: center;

    @include b.mq(pc) {
      font-size: 40px;
    }
  }
  &__txt {
    font-weight: 900;
    text-align: center;

    @include b.mq(pc) {
      font-size: 24px;
      line-height: 1.8;
    }
  }

  &__cards {
    max-width: 550px;
  }
  &__card-ttl {
    font-weight: 900;

    @include b.mq(pc) {
      font-size: 20px;
    }
  }
  &__card-txt {
    font-weight: 900;
    font-size: 14px;

    @include b.mq(pc) {
      font-size: 16px;
    }
  }
  // 共通スタイルーーーーーーーーーーーーーーーーーーーーーーーーー

  &__section {
    // セクション１  ご自宅近くで行う、やさしいお見送りーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    &--1 {
      margin-top: 50px;

      @include b.mq(pc) {
        margin-top: 100px;
      }

      .page-s-cremation {
        &__inner {
          .parts-bg-circle {
            right: -50px;
            top: -80px;
          }
        }
        &__txt {
          margin-top: 25px;

          @include b.mq(pc) {
            margin-top: 40px;
          }
        }
      }
    }

    // セクション２  アエル・デならではの安心品質ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    &--2 {
      margin-top: 96px;

      @include b.mq(pc) {
        margin-top: 175px;
      }

      .page-s-cremation {
        &__inner {
        }

        &__ttl {
        }

        &__txt {
          margin-top: 15px;
          line-height: 1.8;

          @include b.mq(pc) {
            margin-top: 35px;
          }
        }

        &__cards {
          margin-top: 35px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 35px;
          max-width: 550px;
          margin-inline: auto;

          @include b.mq(pc) {
            margin-top: 65px;
            flex-direction: row;
            max-width: 1280px;
            align-items: stretch;
            justify-content: center;
            gap: 40px;
          }
        }
        &__card {
          background: b.$main-color;
          color: b.$sub-color-light;
          padding: 20px 15px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: center;
          justify-content: center;

          @include b.mq(pc) {
            flex: 1;
            padding: 35px 25px 88px;
          }

          &-img {
            padding-inline: 40px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          &-txt {
            line-height: 1.8;

            @include b.mq(pc) {
              flex-grow: 1;
            }
          }
        }
      }
    }

    // セクション３  火葬後についてーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    &--3 {
      margin-top: 75px;

      @include b.mq(pc) {
        margin-top: 150px;
      }

      .page-s-cremation {
        &__inner {
          padding-bottom: 50px;
        }
        &__card {
          margin-top: 20px;
          max-width: 550px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-items: center;
          justify-content: center;
          margin-inline: auto;

          @include b.mq(pc) {
            margin-top: 100px;
            max-width: 1280px;
            flex-direction: row;
            gap: 80px;
          }

          &-img {
            max-width: 500px;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          &-txt {
            line-height: 2;
            padding-inline: 3.846vw;
            text-align: left;

            @include b.mq(pc) {
              padding-inline: 0;
              font-size: 20px;
            }
          }
        }
      }
    }

    // セクション４  プランについてーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    &--4 {
      .page-s-cremation {
        &__inner {
          .parts-bg-flower--right {
            right: 0;
            top: -15px;
          }
        }

        &__cards {
          max-width: 550px;
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 50px;

          @include b.mq(pc) {
            margin-inline: auto;
            max-width: 1080px;
            gap: 75px;
            justify-content: start;
            align-items: start;
          }
        }
        &__card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 20px;

          @include b.mq(pc) {
            flex-direction: row;
            gap: 44px;
            align-items: end;
          }

          &-img {
            padding-inline: 54px;
            width: 100%;

            @include b.mq(pc) {
              padding-inline: 0;
              max-width: 250px;
            }

            img {
              aspect-ratio: 1 / 1;
              width: 100%;
              object-fit: cover;
            }
          }

          &-body {
            @include b.mq(pc) {
            }
          }

          &-ttl {
            color: b.$main-color;
            font-size: 24px;
          }

          &-txt {
            @include b.mq(pc) {
              text-align: start;
              margin-top: 20px;
            }
          }
        }

        &__flow {
          padding-top: 5px;
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 25px;
          align-items: center;

          @include b.mq(pc) {
            flex-direction: row;
            gap: 36px;
            width: fit-content;
            margin-top: 78px;
          }

          // --- 中央の線 ---
          &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 3px; // 線の太さ
            background-color: #333; // 線の色
            z-index: -1; // 図形の下に配置

            @include b.mq(pc) {
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              height: 3px;
              width: 100%;
            }
          }

          &-step {
            width: 100px;
            height: 35px;
            background: #333333;
            font-weight: 900;
            font-size: 18px;
            color: b.$sub-color-light;
            display: flex;
            align-items: center;
            justify-content: center;

            &:first-child {
              background: b.$main-color;
            }
            &:last-child {
              background: b.$main-color;
            }
          }
        }
      }
      .card--2 {
        .step--3 {
          font-size: 14px;
        }
      }

      .card--3 {
        .step--3 {
          font-size: 14px;
        }
      }

      .card--4 {
        .step--2,
        .step--3,
        .step--5 {
          font-size: 14px;
        }
      }
    }

    // セクション５  お見送りの流れーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    &--5 {
      margin-top: 100px;

      @include b.mq(pc) {
        margin-top: 200px;
      }
      .page-s-cremation {
        &__inner {
          .parts-bg-flower--right {
            right: 0;
            top: -15px;
          }

          .parts-bg-flower--left {
            left: 0;
            bottom: -25px;

            @include b.mq(pc) {
              bottom: -180px;
              max-width: 500px;
              max-height: 400px;
              width: 26.1vw;
              height: 20.1vw;
            }
          }
        }

        &__cards {
          margin-top: 35px;
          padding-inline: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 35px;
          max-width: 550px;
          width: 100%;

          @include b.mq(pc) {
            margin-top: 40px;
            gap: 50px;
            padding: 0;
            margin-inline: auto;
            max-width: 1080px;
          }
        }
        &__card {
          box-shadow: 0px 4px 4px 0px #00000040;

          @include b.mq(pc) {
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 50px;
            width: 100%;
          }

          &-img {
            width: 100%;

            @include b.mq(pc) {
              max-width: 300px;
            }
            img {
              aspect-ratio: 300 / 250;
              width: 100%;
              object-fit: cover;
            }
          }

          &-body {
            padding-top: 35px;
            padding-bottom: 50px;
            display: flex;
            flex-direction: column;
            gap: 18px;
            align-items: center;
            justify-content: center;

            .parts-tel {
              margin: 0;
              padding: 0;

              @include b.mq(pc) {
                padding-left: 50px;
              }
            }

            @include b.mq(pc) {
              gap: 25px;
              align-items: start;
              justify-content: start;
            }
          }

          &-ttl {
            color: b.$main-color;
            font-size: 20px;

            @include b.mq(pc) {
              font-size: 24px;
            }
          }
          &-txt {
            line-height: 1.8;
            padding-inline: 25px;

            @include b.mq(pc) {
              padding-inline: 0;
              font-size: 20px;
            }
          }

          .is-pad {
            @include b.mq(pc) {
              padding-left: 50px;
            }
          }
        }

        .card-4 {
          br {
            display: none;

            @include b.mq(pc) {
              display: block;
            }
          }
        }
      }
    }

    // セクション6  料金プラン（目安）ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
    &--6 {
      margin-top: 100px;
      padding-bottom: 50px;

      @include b.mq(pc) {
        margin-top: 250px;
        padding-bottom: 0;
      }

      .page-s-cremation {
        &__inner {
        }

        &__ttl {
        }

        &__txt {
          margin-top: 15px;
          line-height: 1.8;

          @include b.mq(pc) {
            margin-top: 20px;
            font-size: 20px;
          }

          &--sub {
            text-align: center;
            font-weight: 900;
            font-size: 14px;
            margin-top: 20px;

            @include b.mq(pc) {
              margin-top: 20px;
              font-size: 16px;
            }
          }
        }

        &__container {
          background-color: b.$main-color;
          color: b.$text-color-white;
          margin-top: 25px;
          padding-inline: 3.846vw;
          padding-top: 24px;

          @include b.mq(pc) {
            max-width: 1280px;
            width: 100%;
            margin-inline: auto;
            padding-inline: 160px;
            padding-top: 50px;
          }
        }
        &__img {
          width: 100%;

          @include b.mq(pc) {
            max-width: 774px;
            margin-inline: auto;
          }
          img {
            width: 100%;
          }
        }

        &__cards {
          margin-top: 80px;
          padding-bottom: 20px;

          @include b.mq(pc) {
            margin-top: 115px;
            padding-bottom: 10px;
            max-width: 960px;
            margin-inline: auto;
          }
        }
        &__card {
          padding-block: 30px;

          @include b.mq(pc) {
            padding-block: 40px;
          }

          &-ttl {
            line-height: 1.8;

            @include b.mq(pc) {
              font-size: 20px;
            }
          }
          &-txt {
            text-align: left;
            margin-top: 10px;
            line-height: 1.8;
            font-size: 14px;

            @include b.mq(pc) {
              margin-top: 15px;
              font-size: 16px;
            }
          }

          &:last-child {
            border-top: 1px dashed b.$border-color-light;
          }
        }
      }
    }
  }
}
