@use "sass:map";
@use "../foundation/base" as b;

.single {
  &__inner {
    padding-top: 30px;
    padding-bottom: 20px;
    max-width: 700px;
    margin-inline: auto;

    @include b.mq(pc) {
      padding-top: 50px;
      max-width: 1820px;
    }

    .p-entry {
      &__header {
        margin-bottom: 30px;
        font-weight: 900;

        time {
          font-size: 14px;
        }
      }

      &__title {
        font-size: 18px;
      }

      &__content {
        line-height: 1.8;
        font-weight: 700;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: start;
        justify-content: center;

        // WordPressの本文内のタグにスタイルを当てる
        h2 {
          position: relative;
          font-size: 20px;
          border-bottom: 3px solid b.$accent-color-yellow;
          width: 100%;

          &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 30%;
            height: 3px;
            background-color: b.$main-color;
          }
        }

        h3 {
          width: 83%;
          font-weight: 700;
          font-size: 20px;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 0;
            width: 83%;
            height: 3px;
            background-color: b.$main-color;
          }
        }

        h4 {
          font-weight: 700;
          font-size: 18px;
          border-left: 4px solid b.$main-color;
        }

        h5 {
          display: inline-block;
          width: fit-content;
          padding-right: 90px;
          margin-right: auto;
          font-weight: 700;
          font-size: 18px;
          border-bottom: 2px solid b.$main-color;
        }

        h6 {
          display: inline-block;
          width: fit-content;
          padding-right: 90px;
          margin-right: auto;
          font-weight: 700;
          font-size: 18px;
          border-bottom: 4px dashed b.$main-color;
        }

        ul {
          list-style: none; /* デフォルトの丸を消す */
          padding: 0;

          li {
            position: relative;
            padding-left: 1.2em; // 文頭の空きスペース

            &::before {
              content: "✓"; // ここに好きな文字を入れる
              font-weight: 900;
              position: absolute;
              left: 0;
              color: b.$main-color;
            }
          }
        }

        ol {
          list-style-type: decimal; /* 標準の数字 (1, 2, 3...) */
          padding-left: 20px; /* 数字が出るスペースを確保 */
          li {
            &::marker {
              color: b.$main-color; // 数字の色だけを指定！
              font-weight: bold; // 太字にするなどの調整も可能
            }
          }
        }

        .wp-block-table {
          width: 100%;
          overflow-x: auto; // この箱の中だけ横スクロールを許可する
          -webkit-overflow-scrolling: touch; // iOSでのスクロールを滑らかにする
        }

        table {
          font-size: 14px;
          table-layout: fixed; // ★ 幅の計算を「固定」にする
          width: 100%; // 全体の幅を指定

          tbody {
            tr {
              display: flex;
              align-items: center;
              justify-content: start;

              td {
                display: block;
                font-weight: 700;
                min-width: 150px;
                white-space: nowrap;
                width: fit-content;
                padding: 15px;
                border: 1px solid #d9d9d9;
                box-sizing: border-box;
              }
              &:first-child {
                td {
                  border: 1px solid #efefef;
                  background: b.$main-color;
                  color: b.$text-color-white;
                  text-align: center;
                  margin-bottom: 3px;
                }
              }
            }
          }
        }

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 2;
          letter-spacing: 0.02em;
        }

        a {
          line-height: 2;
          font-weight: 900;
          color: b.$main-color;
          letter-spacing: 0.02em;
        }

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    .page-links {
      width: 280px;
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      margin-top: 30px;
      position: relative;

      .page-link {
        background: b.$main-color;

        a {
          position: relative;
          display: block;
          width: 30px;
          height: 30px;

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            clip-path: polygon(80% 0, 0 50%, 80% 100%);
            background-color: b.$sub-color-light;
          }
        }

        &.page-next {
          a::after {
            // 中央寄せを維持しつつ、180度回転（または反転）
            transform: translate(-50%, -50%) rotate(180deg);
          }
        }
      }

      .page-prev {
      }

      .page-blog-home {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      .page-next {
      }
    }
  }
}
