@use "sass:map";
@use "../../foundation/base" as b;

.section-introduce {
  margin-top: 100px;
  padding-bottom: 50px;

  @include b.mq(pc) {
    margin-top: 200px;
  }
  &__inner {
    @include b.mq(pc) {
    }
  }

  &__ttl {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: b.$main-color;

    @include b.mq(pc) {
      font-size: 40px;
    }
  }

  &__content {
    max-width: 600px;
    margin-inline: auto;

    @include b.mq(pc) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 54px;
      margin-top: 50px;
      max-width: 1020px;
    }
  }

  &__img {
    padding: 25px 30px;
    max-width: 500px;
    margin-inline: auto;

    @include b.mq(pc) {
      max-width: 450px;
      padding: 0;
    }
    img {
      width: 100%;
      box-shadow: 0px 4px 4px 0px #00000040;
    }
  }

  &__body {
    @include b.mq(pc) {
      padding-top: 50px;
    }
  }

  &__txt {
    font-weight: 900;
    font-size: 14px;
    line-height: 2;
    text-align: center;

    @include b.mq(pc) {
      font-size: 16px;
      text-align-last: left;
    }
  }

  .parts-btn {
    margin-top: 25px;
    text-align: center;
    margin-inline: auto;

    @include b.mq(pc) {
      margin-top: 70px;
      margin-inline: 0;
      margin-left: auto;
    }
  }
}
