@use "sass:map";
@use "../../foundation/base" as b;

.section-introduce {
  position: relative;
  background: b.$sub-color-light;
  margin-top: 100px;
  padding-bottom: 50px;

  @include b.mq(pc) {
    margin-top: 200px;
  }
  &__inner {
    @include b.mq(pc) {
    }
  }

  &__ttl {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
    color: b.$main-color;

    @include b.mq(pc) {
      font-size: 40px;
    }
  }

  &__content {
    max-width: 600px;
    margin-inline: auto;
    margin-top: 25px;

    @include b.mq(pc) {
    }
    @include b.mq(lg) {
    }

    @include b.mq(pc) {
      display: flex;
      justify-content: center;
      align-items: end;
      margin-top: 50px;
      // max-width: 860px;
      max-width: 44.79vw;
      gap: 0;
    }
  }

  &__img {
    padding: 25px 30px;
    max-width: 500px;
    margin-inline: auto;
    position: relative;
    z-index: 1;
    img {
      width: 100%;
      box-shadow: 0px 4px 4px 0px #00000040;
    }

    @include b.mq(pc) {
      min-width: 450px;
      max-width: 450px;
      padding: 0;
      margin: 0;
      margin-right: auto;
    }
  }

  &__body {
    background: b.$sub-color-light;
    position: relative;
    z-index: 2;

    @include b.mq(pc) {
      min-width: 450px;

      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
      margin-top: -20px;
      margin-left: -36px;
      margin-bottom: -10px;
      padding: 20px 20px 10px 20px;
      box-shadow: 0px 4px 4px 0px #00000040;
    }
  }

  &__txt {
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
    text-align: center;

    @include b.mq(pc) {
      font-size: 16px;
      text-align-last: left;
    }
  }

  .parts-btn {
    margin-top: 25px;
    text-align: center;
    margin-inline: auto;

    @include b.mq(pc) {
      margin-top: 10px;
      margin-inline: 0;
      margin-left: auto;
    }
  }
}
