@use "sass:map";
@use "../../foundation/base" as b;

.section-contact {
  margin-top: 50px;
  margin-bottom: 50px;
  height: fit-content;
  overflow: hidden;

  @include b.mq(pc) {
    margin-top: 200px;
    margin-bottom: 200px;
  }
  &__wrap {
    position: relative;
    width: 100%;
    max-width: 2600px;
    margin-inline: auto;

    @include b.mq(pc) {
    }
  }

  .parts-bg-circle {
    right: -30px;
    // bottom: 180px;
    bottom: 46.15vw;

    @include b.mq(pc) {
      top: 50%;
      bottom: unset;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: 100%;
    padding-inline: 3.84vw;

    @include b.mq(pc) {
      width: 100%;
      max-width: 1080px;
      min-height: 690px;
      margin-inline: auto;
      align-items: start;
      flex-direction: row;
      padding-inline: 0;
      padding-left: 3.125vw;
    }
  }

  &__info-box {
    text-align: center;

    @include b.mq(pc) {
      margin-top: 60px;
      text-align: left;
      flex: 1;
    }
  }

  &__ttl {
    font-weight: 900;
    font-size: 20px;
    color: b.$main-color;

    @include b.mq(pc) {
      font-size: 40px;
    }
  }

  &__link-box {
    margin-top: 25px;
    background: b.$sub-color-light;

    @include b.mq(pc) {
      box-shadow: 0px 4px 4px 0px #00000040;
      max-width: 700px;
      padding: 48px 50px 30px;
      position: absolute;
      bottom: 25px;
      left: 3.125vw;
      z-index: 100;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-inline: 55px;

    @include b.mq(pc) {
      flex-direction: row;
      gap: 50px;
      padding-inline: 0;
    }

    .link-line {
      display: none;

      @include b.mq(pc) {
        display: block;
        width: 1px;
        min-width: 1px;
        flex-shrink: 0; // flex内で潰されるのを防ぐ
        height: 75px;
        background-color: b.$sub-color-dark;
      }
    }
  }

  &__card-logo {
    margin-top: 25px;
    padding-inline: 6.41vw; // 25px

    text-align: center;

    @include b.mq(pc) {
      margin-top: 41px;
      padding-inline: 0;
    }
  }

  &__txt {
    margin-top: 25px;
    font-weight: 900;
    font-size: 14px;
    line-height: 1.8;
    text-align: center;

    @include b.mq(pc) {
      font-size: 20px;
      text-align: left;
    }
  }

  &__img {
    margin-top: 50px;
    padding-inline: 16.15vw; // 63px
    text-align: center;

    @include b.mq(pc) {
      margin: 0;
      padding: 0;
      max-width: 517px;
      max-height: 689px;
      object-fit: cover;
      flex: 1;
    }
  }

  &__bg-txt-wrap {
    display: flex; // 横並びにする
    overflow: hidden; // はみ出た分を隠す
    white-space: nowrap; // 改行を防ぐ
    width: 100%;
  }

  &__bg-txt {
    font-weight: 500;
    color: b.$text-color-white;
    -webkit-text-stroke: 0.3px b.$main-color;
    font-size: 36px;
    font-family: b.$font-family-en;
    letter-spacing: 0.03em;
    line-height: 1.3;
    white-space: nowrap;
    display: inline-block;
    width: fit-content;
    margin-inline: auto;

    // アニメーションの設定
    animation: marquee 40s linear infinite;

    @include b.mq(pc) {
      font-size: 128px;
      -webkit-text-stroke: 1px b.$main-color; // PCでは縁も少し太く
    }
  }
}

// 右から左へ流れるアニメーション
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); // 1つ分左にズレたらリセット
  }
}

// 2026.07.23 修正
.section-contact {
  .block-info--primary {
    .parts-tel--primary {
      a {
        border: 2px solid b.$main-color;
        padding: 20px;
        color: b.$text-color-white;
        background-color: b.$main-color;
        border-radius: 5px;
      }

      span {
        background-color: b.$text-color-white;
      }
    }
  }
}
